:root {
    --main-bg-color: #009d63;
    --main-text-color: #ffffff;
    --second-text-color: #f7f8f9;
    --second-bg-color: #9c0000;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-color: #ffffff;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    background-color: #a8000a;
    /* background-image: linear-gradient(147deg, #a00000 0%, #c62128 74%); */
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
    
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
    color: #a8000a;
}

.brand {
    text-decoration: none;
}
.brand:hover {
    color: #ffffff;
}

.cardcon {
    /* //  0 5px 10px 5px */
    -webkit-box-shadow: 0px 10px 20px -10px rgba(51, 47, 47, 0.9);
    box-shadow: 0px 10px 20px -10px rgba(51, 47, 47, 0.9);
}


/* Style the sidenav links and the dropdown button */
.dropdown-container a {
    padding: .4rem 0rem .4rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
.dropdown-btn{
    padding: 1.4rem 0rem 1.4rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  
  /* On mouse-over */
 .dropdown-btn:hover {
    color: #a8000a;
    background-color: #ffffff;
  }
  .dropdown-container a:hover{
    color: #a8000a;
    background-color: #ffffff;
    text-decoration: underline;
    font-size: 1.2rem;
  } 
  /* Main content */
  .main {
    margin-left: 210px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  /* .dropdown-btn:active {
    background-color: green;
    color: white;
  } */
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #ffffff;
    padding-left: 10px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: end;
    padding-right: 8px;
  }
.list-group-item {
    border: none;
    background-color: #a8000a;
    padding: 20px 30px;
    color: #ffffff;

}


.list-group-item.active {
    color: #a00000;
    background-color: #ffffff;
    /* border-bottom-left-radius: 15%;
    border-top-left-radius: 15%; */
    
}

.list-group-item:hover {
    color: #a00000;
    background-color: #ffffff;
    /* border-bottom-left-radius: 15%;
    border-top-left-radius: 15%; */
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
